name: CI

on:
  pull_request:
  push:
    paths-ignore:
    - '**.md'

env:
  ELPA: "online"
 
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        emacs_version:
          - 28.1

    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/checkout@v3
      with:
        submodules: recursive 

    - name: Install the latest Org
      run: |
        chmod +x ./install-latest-org.sh
        ./install-latest-org.sh

    - name: Check startup
      run: |
        chmod +x ./test-startup.sh
        ./test-startup.sh
      env:
        ELPA: ${{ env.ELPA }}
